<!DOCTYPE html>
<html>
<head>
  <title>D3D Financial Data API</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>D3D Financial Data API</h1>

  <table>
    <thead>
      <tr>
        <th>Routes</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/fundamental-data">/fundamental-data</a></td>
        <td>Provides the Fundamental Data of the Various Major Currencies</td>
      </tr>
      <tr>
        <td><a href="/cot-data">/cot-data</a></td>
        <td>Provides the COT Data for the Various Major Currencies</td>
      </tr>
      <tr>
        <td><a href="/retail-data">/retail-data</a></td>
        <td>Provides the Retail Data for the Various Major Currency Pair</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
